<div class="header">
  <img class="main-logo" src="assets/img/main-logo.png" alt="">
  <h1 class="title">RESULTS OF THE CI TEST BENCH</h1>

  <app-time-update class="timer"></app-time-update>
</div>

<div class="grid">
  <div class="item" *ngFor="let testResult of listOfTestsResults">
    <app-device-test-result [testPlanInfos]="testResult"></app-device-test-result>
  </div>
</div>


<div class="header">
  <p style="color: #878787;" class="sub-title">Device status</p>
  <app-time-update class="timer"></app-time-update>
</div>

<app-device-status></app-device-status>