.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    border: 3px solid #31AB4C;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.test-valid {
    border-color: #31AB4C;

    .build-nb {
        filter: invert(49%) sepia(28%) saturate(6165%) hue-rotate(104deg) brightness(107%) contrast(62%);
        p {
            color: black !important;
        }
    }

    * {
        color: #31AB4C;
    }
}

.test-error {
    border-color: #EE5353;

    .build-nb {
        filter: invert(47%) sepia(89%) saturate(3716%) hue-rotate(333deg) brightness(104%) contrast(87%);
        p {
            color: black !important;
        }
    }

    * {
        color: #EE5353;
    }
}

.error {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 13px !important;
    font-family: "Inter Semi Bold";
}

.icon-status {
    width: 30px;
    margin-right: 15px;
}

.infos {
    height: 100%;
    display: flex;
    flex-direction: column;

    .build-nb {
        display: flex;
        width: fit-content;
        border-bottom: 1px solid black;
        cursor: pointer;

        img {
            width: 15px;
            margin-right: 5px;
        }
    }

    p {
        margin: 0px;
        margin-top: 3px;
    }
}

.device-icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: 20px;

    img {
        width: 130px;
    }
}

.sub-title {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}