.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    border: 3px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.test-valid {
    border-color: #31AB4C;

    .build-nb {
        border-color: black;
        filter: invert(49%) sepia(28%) saturate(6165%) hue-rotate(104deg) brightness(107%) contrast(62%);
        p {
            color: black !important;
        }
    }

    * {
        color: #31AB4C;
    }
}

.test-error {
    border-color: #EE5353;
    background-color: #EE5353;

    .build-nb {
        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(18deg) brightness(101%) contrast(100%);
        }
    }

    animation: blink 2s step-end infinite;
}

.blinking {
    animation: blink 2s step-end infinite;
}

@keyframes blink {
    0% {
        background-color: white;
        color: #EE5353;
    }

    50% {
        background-color: #EE5353;
        color: white;
    }

    100% {
        background-color: white;
        color: #EE5353;
    }
}

.test-warning {
    border-color: #EE5353;

    .build-nb {
        filter: invert(47%) sepia(89%) saturate(3716%) hue-rotate(333deg) brightness(104%) contrast(87%);
        p {
            color: white !important;
        }
    }

    * {
        color: #EE5353;
    }
}

.error {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 13px !important;
    font-family: "Inter Semi Bold";
}

.icon-status {
    width: 30px;
    min-width: 30px;
    margin-right: 15px;
}

.infos {
    height: 100%;
    display: flex;
    flex-direction: column;

    .build-nb {
        display: flex;
        align-items: center;
        height: 22px;
        width: fit-content;
        border-bottom: 1px solid;
        cursor: pointer;

        p {
            margin: 0px !important;
        }

        svg {
            width: 16px;
            margin-right: 5px;
        }
    }

    p {
        margin: 0px;
        margin-top: 3px;
    }
}

.device-icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: 20px;

    img {
        width: 120px;
    }
}

.sub-title {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}